#gamePanel {
    margin-top: 20px;
    display: inline-block;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid green;
}

.player {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: red;
    margin-left: 2px;
}
